<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrudBasic" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Z_HD\Estudos\Treinamentos\Estudos.NET\Estudos.NET\Basic\DataBase\CrudBasic.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>